<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

<!-- Main Content -->
<main class="container-survey">
  <div>
      <div><br>
          <h1 class="text-center">Survey 3 Result</h1><hr>
          
          <% if(typeof displayName == 'string' && displayName) { %>
              
          <% } %><br>
          
          <br>
          <table class="table table-bordered table-striped table-hover">
              <!-- Header Row-->
              <tr>
                  <% if(typeof displayName == 'string' && displayName) { %>
                      <th class="text-center">Field</th>
                      <th class="text-center">Major</th>                        
                      <th class="text-center">Institution</th>
                      <th class="text-center">Years</th>
                      
                  <% } else { %>
                    <th class="text-center">Field</th>
                    <th class="text-center">Major</th>                        
                    <th class="text-center">Institution</th>
                    <th class="text-center">Years</th>
                      <th></th>
                      <th></th>
                  <% } %>
              </tr>

              <!-- Repeatable Template Row -->

              <% for(let count = 0; count < SurveyList3.length; count++) { %>
                  <tr>
                      <% if(typeof displayName == "string" && displayName) { %>
                         <td class="text-center"><%= SurveyList3[count].field %></td>
                         <td class="text-center"><%= SurveyList3[count].major %></td>
                         <td class="text-center"><%= SurveyList3[count].institution %></td>
                         <td class="text-center"><%= SurveyList3[count].years %></td>
                         
              
                         <td class="text-center">
                          <a href="/surveylist3/edit3/<%= SurveyList3[count]._id %>" class="btn btn-primary"> <i class="fa"></i>Edit</a>
                        </td>
                        <td class="text-center">
                          <a href="/surveylist3/delete/<%= SurveyList3[count]._id %>" class="btn btn-warning btn-sm"> <i class="fa"></i>Delete</a>
                        </td>
                       <% } else { %>
                          <td class="text-center"><%= SurveyList3[count].field %></td>
                          <td class="text-center"><%= SurveyList3[count].major %></td>
                          <td class="text-center"><%= SurveyList3[count].institution %></td>
                          <td class="text-center"><%= SurveyList3[count].years %></td>
                       <% } %>
                     </tr>
              <% } %>
          </table>
      </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>